<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/public/style.css"/>
    <link rel="stylesheet" href="/public/normalize.css"/>
    <title>Document</title>
</head>
<body>

<nav class="nav" role="navigation">
    <ul class="ul1">
        <li class="tutorialNav"><h3 class="a"><a href="/" class="a">Tutorial Land</a></h3></li>
    </ul>
    <ul>
        <li class="tutorialNav">
            <h5 class="a"><a href="/" class="a">A New Land of User Submitted Tutorials</a></h5>
        </li>
    </ul>
</nav>

<nav role="navigation">
    <div class="navDivLeft">
        <a href="/tutorials/new" class="newTut">
            <button class="newTut">Add Tutorial</button>
        </a>
    </div>
    <div class="navSearch">
        <form action="/" method="GET">
            <input type="text" placeholder="Search Tutorials" name="search"/>
            <button type="submit" value="search" class="b">Search</button>
        </form>
    </div>
</nav>


<div class="content">

    <form action="/tutorials/{{_id}}/update" method="post">

        <div class="showName"><label for="name">Name: </label> <input type="text" name='name' id="name"
                                                                      value="{{name}}"/></div>

        <div class="showTopic"><label for="topic">Topic: </label> <input type="text" name='topic' id="topic"
                                                                         value="{{topic}}"/></div>

        <div class="showDescription"><label for="description">Description: </label> <input type="text"
                                                                                           name='description'
                                                                                           id="description"
                                                                                           value="{{description}}"/>
        </div>

        <div class="showLink"><label for="link">Link: </label> <input type="text" name='link' id="link"
                                                                      value="{{link}}"/></div>

        <div class="editContent"><label for="content">Content: </label>

            <div><textarea name="content" id="content" cols="60" rows="10">{{content}}</textarea></div>
        </div>


        <div class="showTags">

            <label for="tags">Tags: </label>

            <div>
                <textarea name="tags" id="tags" cols="20" rows="5">{{tags}}</textarea>
            </div>
        </div>
        <div class="saveChanges">
            <input type="submit" value="Save Changes"/>
        </div>
    </form>
</div>
</body>
</html>