<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/public/style.css"/>
    <title>TUTORIAL LAND</title>
</head>
<body>

<nav class="nav" role="navigation">
    <ul class="ul1">
        <li class="tutorialNav"><h3 class="a">TUTORIAL LAND</h3></li>
    </ul>
</nav>

<div class="div1">
    <p class="p1">
        DESCRIPTION OF HOW THE SITE WORKS
    </p>
</div>

<div class="div2">

    <form action="/" method="post">
        <div class="topicDiv">
            <label for="topic">Topic

                <input type="text" name='topic' id="topic"/>
            </label>
        </div>
        <div class="linkDiv">
            <label for="link">Link

                <input type="text" name='link' id="link"/>
            </label>
        </div>
        <div class="descriptionDiv">
            <label for="description">Description

                <input type="text" name='description' id="description"/>
            </label>
        </div>
        <div class="tagsDiv">
            <label for="tags">Tags

                <input type="text" name='tags' id="tags"/>
            </label>
        </div>
    </form>
</div>

</body>
</html>